<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
  <div class="main">
    <div class="root">
      <nav class="root-nav main-wrapper">
        <h1>Бизнес-близнецы</h1>
        <h2>Чем отличаются похожие компании из разных частей света</h2>
        <div class="sponsor-tochka">
          <img src="./images/sponsor-tochka.png" />
        </div>
      </nav>
      <div class="sponsor-otkritie">
        <img src="./images/sponsor-otkritie.png" />
      </div>
      <div class="root-content">
        <h1>Кроссфит-клуб ARMA S.M.C</h1>
        <h2>Cпециализированный клуб кроссфита, функционального тренинга, единоборств, тяжелой атлетики</h2>
        <a class="button" href="#">Читать</a>
      </div>
    </div>
    <ul class="companies main-wrapper">
      <li>
        <article class="compared">
          <h2>Кроссфит-студии</h2>
          <div class="company">
            <img src="./images/companies/arma/preview.png" />
            <h3>ARMA S.M.C</h3>
            <h4>Москва</h4>
          </div>
          <div class="company">
            <img src="./images/companies/crossfit/preview.png" />
            <h3>CrossFit NYC</h3>
            <h4>Нью-Йорк</h4>
          </div>
        </article>
      </li>
      <li>
        <article class="compared">
          <h2>Кроссфит-студии</h2>
          <div class="company">
            <img src="./images/companies/arma/preview.png" />
            <h3>ARMA S.M.C</h3>
            <h4>Москва</h4>
          </div>
          <div class="company">
            <img src="./images/companies/crossfit/preview.png" />
            <h3>CrossFit NYC</h3>
            <h4>Нью-Йорк</h4>
          </div>
        </article>
      </li>
      <li>
        <article class="compared">
          <h2>Кроссфит-студии</h2>
          <div class="company">
            <img src="./images/companies/arma/preview.png" />
            <h3>ARMA S.M.C</h3>
            <h4>Москва</h4>
          </div>
          <div class="company">
            <img src="./images/companies/crossfit/preview.png" />
            <h3>CrossFit NYC</h3>
            <h4>Нью-Йорк</h4>
          </div>
        </article>
      </li>
    </ul>
  </div>
{% endblock %}
