<!-- index.nunjucks -->
{% extends "layout.html" %}

{% set meta = meta.index %}

{% macro company(data, active) %}
{% if data.content %}
<a href="{{ data.prod_url if production else data.url }}" class="company {{ 'active' if active }}">
{% else %}
<div class="company">
{% endif %}
  {% if data.short_title %}
    <div class="avatar" style="background-image:url({{ assets_prefix }}/images/companies/{{data.key}}/preview.png)">
    </div>
    <h3>{{ data.short_title }}</h3>
  {% else %}
    <div class="avatar" style="background-image:url({{ assets_prefix }}/images/companies/noname.png)">
    </div>
  {% endif %}
  <h4>{{ data.city }}</h4>
{% if data.content %}
</a>
{% else %}
</div>
{% endif %}
{% endmacro %}

{% macro compared(title, data1, data2, active) %}
<article class="compared">
  <h2>{{ title }}</h2>
  {{ company(data1, active) }}
  {{ company(data2) }}
</article>
{% endmacro %}

{% block content %}
  <div class="main">
    <div class="index">
      <div class="title">
        <div>Бизнес-близнецы</div>
        <h2 class="subtitle">Дело не в деньгах</h2>
      </div>
      <a href="https://www.tochka.com/betterworld?utm_source=brend&utm_medium=esquire&utm_campaign=imagine" target="_blank" class="sponsor-tochka">
        <img src="{{ assets_prefix }}/images/sponsor-tochka.png" />
      </a>
      <h2>Чем отличаются похожие компании из разных частей света</h2>
      <a href="https://www.openbank.ru/" target="_blank" class="sponsor-otkritie">
        <img src="{{ assets_prefix }}/images/sponsor-otkritie.png" />
      </a>
      <div class="ad-label">Реклама</div>
      <div class="index-slider js_slider">
        <div class="frame js_frame">
          <ul class="slides js_slides">
            {% for data in [arma, crossfit] %}
              <li>
                <div class="index-slide"  style="background-image:url({{ assets_prefix }}/images/companies/{{data.key}}/index.jpg);">
                  <div class="index-wrapper">
                    <h1>{{ data.title }}</h1>
                    <h2>{{ data.description }}</h2>
                    <a class="button" href="{{ data.prod_url if production else data.url }}">
                      <div class="color"></div>
                      Читать
                    </a>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <button class="js_prev prev">
          <img src="{{ assets_prefix }}/images/slider-prev.png" />
        </button>

        <button class="js_next next">
          <img src="{{ assets_prefix }}/images/slider-next.png" />
        </button>
      </div>
    </div>
    <div class="companies-slider js_slider">
      <div class="frame js_frame">
        <ul class="slides js_slides">
          <li>
            {{ compared("Кроссфит-клубы", arma, crossfit, true) }}
          </li>
          <li>
            {{ compared("Кондитерские", banoffi, bravo) }}
          </li>
          <li>
            {{ compared("Фотостудии", ekaterinburg, london) }}
          </li>
        </ul>
      </div>

      <button class="js_prev prev">
        <img src="{{ assets_prefix }}/images/arrow-prev-dark.png" />
      </button>

      <button class="js_next next">
        <img src="{{ assets_prefix }}/images/arrow-next-dark.png" />
      </button>
    </div>
    <ul class="companies">
      <li>
        {{ compared("Кроссфит-клубы", arma, crossfit, true) }}
      </li>
      <li>
        {{ compared("Кондитерские", banoffi, bravo) }}
      </li>
      <li>
        {{ compared("Фотостудии", ekaterinburg, london) }}
      </li>
    </ul>
  </div>
{% endblock %}
