<!-- index.nunjucks -->
{% extends "layout.html" %}

{% macro company(data, active) %}
<a href="{{data.key}}.html" class="company {{ 'active' if active }}">
  <div class="avatar">
    <img src="./images/companies/{{data.key}}/preview.png" />
  </div>
  <h3>{{ data.short_title }}</h3>
  <h4>{{ data.city }}</h4>
</a>
{% endmacro %}

{% macro compared(title, data1, data2, active) %}
<article class="compared">
  <h2>{{ title }}</h2>
  {{ company(data1, active) }}
  {{ company(data2) }}
</article>
{% endmacro %}

{% block content %}
  <div class="main">
    <div class="index">
      <div class="title">
        <a href="/">Бизнес-близнецы</a>
      </div>
      <a href="https://tochka.com/" target="_blank" class="sponsor-tochka">
        <img src="./images/sponsor-tochka.png" />
      </a>
      <h2>Чем отличаются похожие компании из разных частей света</h2>
      <a href="https://www.openbank.ru/" target="_blank" class="sponsor-otkritie">
        <img src="./images/sponsor-otkritie.png" />
      </a>
      <div class="index-slider js_slider">
        <div class="frame js_frame">
          <ul class="slides js_slides">
            {% for data in [arma, crossfit] %}
              <li>
                <div class="index-slide"  style="background-image:url(./images/companies/{{data.key}}/index.jpg);">
                  <div class="index-wrapper">
                    <h1>{{ data.title }}</h1>
                    <h2>{{ data.description }}</h2>
                    <a class="button colored" href="{{ data.key }}.html">Читать</a>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <span class="js_prev prev">
          <img src="./images/slider-prev.png" />
        </span>

        <span class="js_next next">
          <img src="./images/slider-next.png" />
        </span>
      </div>
    </div>
    <div class="companies-slider js_slider">
      <div class="frame js_frame">
        <ul class="slides js_slides">
          <li>
            {{ compared("Кроссфит-клуб", arma, crossfit, true) }}
          </li>
          <li>
            {{ compared("Агенство кибербезопасности", group_ib, mandalay) }}
          </li>
          <li>
            {{ compared("Пекарня", bakery_brothers, zeit_fur_brot) }}
          </li>
        </ul>
      </div>

      <span class="js_prev prev">
        <img src="./images/arrow-prev-dark.png" />
      </span>

      <span class="js_next next">
        <img src="./images/arrow-next-dark.png" />
      </span>
    </div>
    <ul class="companies">
      <li>
        {{ compared("Кроссфит-клуб", arma, crossfit, true) }}
      </li>
      <li>
        {{ compared("Агенство кибербезопасности", group_ib, mandalay) }}
      </li>
      <li>
        {{ compared("Пекарня", bakery_brothers, zeit_fur_brot) }}
      </li>
    </ul>
  </div>
  <script src="./js/app.js"></script>
{% endblock %}
