<!-- layout.nunjucks -->
{% extends "layout.html" %}

{% block content %}
  <main class="article">
    <nav>
      <div class="main-wrapper">
        <h1>Бизнес-близнецы</h1>
        <div class="sponsor-tochka">
          <img src="./images/sponsor-tochka.png" />
        </div>
      </div>
      <div class="sponsor-otkritie">
        <img src="./images/sponsor-otkritie.png" />
      </div>
    </nav>
    <header style={{ "background-image: url('../images/companies/" + data.key + "/bg.jpg');" }}>
      <div class="center-wrapper">
        <h1>{{ data.title }}</h1>
        <h2>{{ data.description }}</h2>
      </div>
    </header>
    <div class="article-content">
      {% for block in data.content %}
        {% if block.type %}
          {% if block.type == "header" %}
            <h3>{{ block.content }}</h3>
          {% elif block.type == "image" %}
            <figure>
              <p><img src={{ "../images/companies/" + data.key + "/photos/" + block.content + ".jpg" }} /></p>
              {% if block.caption %}
                <figcaption>{{ block.caption }}</figcaption>
              {% endif %}
            </figure>
          {% elif block.type == "slider" %}
            <figure class="slider">
              <p><img src={{ "../images/companies/" + data.key +  "/photos/" + block.content + ".jpg" }} /></p>
              {% if block.caption %}
                <figcaption>{{ block.caption }}</figcaption>
              {% endif %}
            </figure>
          {% elif block.type == "images" %}
            <figure class="group">
              {% for image in block.content %}
                <p><img src={{ "../images/companies/" + data.key + "/photos/" + image + ".jpg" }} /></p>
              {% endfor %}
            </figure>
          {% endif %}
        {% else %}
          {% if loop.index == 1 %}
            <p class="intro">{{ block }}</p>
          {% else %}
            <p>{{ block }}</p>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </main>
{% endblock %}
