<!-- layout.nunjucks -->
{% extends "layout.html" %}

{% macro article(data, other, isLeft) %}
<article class="article {{ 'left' if isLeft else 'right' }}">
  <div class="top-wrapper">
    <div class="header-wrapper" style="background-image:url(./images/companies/{{data.key}}/bg.jpg);">
      <header>
        <h1>{{ data.title }}</h1>
        <h2>{{ data.description }}</h2>
      </header>
    </div>
    <ul class="info">
      <li>
        <p>Город:</p>
        <p>{{ data.city }}</p>
      </li>
      <li>
        <p>Год основания:</p>
        <p>{{ data.year }}</p>
      </li>
      <li>
        <p>Количество сотрудников:</p>
        <p>{{ data.employee_number }}</p>
      </li>
    </ul>
  </div>
  <div class="article-content">
    {% for block in data.content %}
      {% if block.type %}
        {% if block.type == "header" %}
          <h3>{{ block.content }}</h3>
        {% elif block.type == "image" %}
          <figure>
            <p>
              <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="./images/companies/{{data.key}}/photos/{{block.content}}@2x.jpg" media="(min-width: 500px)">
                <!--[if IE 9]></video><![endif]-->
                <img srcset="./images/companies/{{data.key}}/photos/{{block.content}}.jpg">
              </picture>
            </p>
            {% if block.caption %}
              <figcaption>{{ block.caption }}</figcaption>
            {% endif %}
          </figure>
        {% elif block.type == "slider" %}
          <div class="article-slider js_slider">
            <div class="frame js_frame">
              <ul class="slides js_slides">
                {% for image in block.content %}
                  <li>
                    <figure>
                      <p>
                        <picture>
                          <!--[if IE 9]><video style="display: none;"><![endif]-->
                          <source srcset="./images/companies/{{data.key}}/photos/{{image}}@2x.jpg" media="(min-width: 500px)">
                          <!--[if IE 9]></video><![endif]-->
                          <img srcset="./images/companies/{{data.key}}/photos/{{image}}.jpg">
                        </picture>
                      </p>
                    </figure>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <span class="js_prev prev">
              <img src="./images/arrow-prev.png" />
            </span>

            <span class="js_next next">
              <img src="./images/arrow-next.png" />
            </span>
          </div>
        {% elif block.type == "images" %}
          <figure class="group">
            {% for image in block.content %}
              <p>
                <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source srcset="./images/companies/{{data.key}}/photos/{{image}}@2x.jpg" media="(min-width: 500px)">
                  <!--[if IE 9]></video><![endif]-->
                  <img srcset="./images/companies/{{data.key}}/photos/{{image}}.jpg">
                </picture>
              </p>
            {% endfor %}
          </figure>
        {% endif %}
      {% else %}
        {% if loop.index == 1 %}
          <p class="intro">{{ block }}</p>
        {% else %}
          <p>{{ block | safe }}</p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <footer>
    <h3>Сравнить с</h3>
    <h1>{{ other.short_title }}</h1>
    <h2>{{ other.description }}</h2>
    <a href="{{other.key}}.html" class="button">Читать</a>
  </footer>
  <div class="ad">
    <a href="https://tochka.com/" target="_blank" class="sponsor">
      <img src="./images/sponsor-tochka-footer.png" />
    </a>
    <div class="legal">
      ПАО «Ханты-Мансийский банк Открытие». www.openbank.ru Генеральная лицензия Банка России №1971 от 05.11.2014<br/>
      Филиал «Бизнес онлайн» ОГРН: 1028600001880 ИНН: 8601000666 Корреспондентский счёт: 30101810600000000999 БИК: 044583999 Юридический адрес: 117216, Москва, Старокачаловская 1, корпус 2
    </div>
  </div>
</article>
{% endmacro %}

{% block content %}
  <div class="articles-wrapper static {{ 'right' if right.key == current }}">
    <nav>
      <div class="switcher">
        <a href="./{{left.key}}.html" />{{ left.city }}</a>
        <div class="toggle"></div>
        <a href="./{{right.key}}.html" />{{ right.city }}</a>
      </div>
    </nav>

    <div class="title">
      <a href="/">Бизнес-близнецы</a>
    </div>
    <a href="https://tochka.com/" target="_blank" class="sponsor-tochka">
      <img src="./images/sponsor-tochka.png" />
    </a>
    <div class="sponsor-otkritie">
      <img src="./images/sponsor-otkritie.png" />
    </div>

    {% if left.key == current %}
      {{ article(left, right, true) }}
      {{ article(right, left, false) }}
    {% else %}
      {{ article(right, left, false) }}
      {{ article(left, right, true) }}
    {% endif %}

    <div class="next-article">
      <button class="next-button">{{ left.city }}</button>
      <button class="center-button"></button>
      <button class="next-button">{{ right.city }}</button>
    </div>
  </div>
  <script src="./js/app.js"></script>
{% endblock %}
