* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  background: #F7F3F2;
  color: #231F20;
  font-family: 'Angelica Pro Title', serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
