$companiesHeight: 270px;
$companiesHeightMobile: 177px;

.main {
  height: 100%;
}

.index {
  position: relative;
  height: calc(100% - $companiesHeightMobile);
  min-height: 390px;

  color: white;
  font-family: $secondaryFont;

  @media (min-width: $tablet) {
    height: calc(100% - $companiesHeight);
    min-height: 525px;
  }

  > h2 {
    position: absolute;
    bottom: 33px; left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    width: 247px;

    font-size: 13px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;

    @media (min-width: $tablet) {
      top: 25px;
      bottom: auto;
    }
  }
}

.index-slider {
  height: 100%;
  width: 100%;

  .frame {
    height: 100%;
  }

  .slides {
    height: 100%;

    > li {
      height: 100%;
      width: 100vw;
    }
  }

  .main-wrapper {
    position: absolute;
    left: 50%; top: 0;
    transform: translateX(-50%);
    height: 100%;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 29px;

    cursor: pointer;

    @media (min-width: $mobile) {
      height: 37px;
    }

    img {
      height: 100%;
    }

    &.hide {
      display: none;
    }
  }

  .prev {
    left: 20px;

    @media (min-width: $tablet) {
      left: calc(250px/2);
    }

    @media (min-width: $wrapperWidth) {
      left: calc(50% - 1160px/2);
    }
  }

  .next {
    right: 20px;

    @media (min-width: $tablet) {
      right: calc(250px/2);
    }

    @media (min-width: $wrapperWidth) {
      right: calc(50% - 1160px/2);
    }
  }
}

.index-slide {
  height: 100%;
  background: url("../images/bg.jpg") center;
  background-size: cover;
}

.index-wrapper {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $mobile) {
    top: 55%;
  }

  > h1 {
    margin-bottom: 30px;

    font-family: 'Angelica Pro Title', serif;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;

    @media (min-width: $mobile) {
      font-size: 30px;
    }

    @media (min-width: $tablet) {
      font-size: 36px;
    }
  }

  > h2 {
    display: none;
    margin-bottom: 60px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;

    @media (min-width: $tablet) {
      display: block;
    }
  }
}

.companies {
  display: none;
  padding-top: 15px;
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;

  @media (min-width: $smalltablet) {
    display: block;
  }

  @media (min-width: $tablet) {
    padding-top: 25px;
  }

  font-family: $secondaryFont;

  > li {
    position: relative;
    display: inline-block;
    width: 31%;

    &:first-child {
      margin-left: 0;
    }

    @media (min-width: $tablet) {
      margin-right: 3%;
      padding-right: 3%;
      border-right: 1px solid #979797;
    }

    &:last-child {
      border-right: none;
      margin-right: 0;
    }
  }
}

.companies-slider {
  position: relative;

  width: 100%;
  padding-top: 10px;

  font-family: $secondaryFont;

  @media (min-width: $smalltablet) {
    display: none;
  }

  .slides > li {
    width: 100vw;
  }

  .next, .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 29px;

    cursor: pointer;

    img {
      height: 100%;
    }

    &.hide {
      display: none;
    }
  }

  .prev {
    left: 16px;
  }

  .next {
    right: 16px;
  }
}

.companies,
.companies-slider {
  li:nth-child(2),
  li:nth-child(3) {
    .compared {
      opacity: 0.7;
    }

    &:after {
      content: 'Скоро';

      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $smalltablet) {
        left: 47%;
      }

      color: #EFAAC6;
      font-size: 36px;
      font-weight: 900;
    }
  }

  li:nth-child(3):after {
    color: #85B7CF;
  }
}

.compared {
  width: 300px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $mobile) {
    width: 250px;
  }

  @media (min-width: $tablet) {
    width: auto;
  }

  h2 {
    margin-bottom: 15px;

    font-size: 14px;
    font-weight: 800;
    text-align: center;

    @media (min-width: $tablet) {
      margin-bottom: 25px;
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.company {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  outline: none;

  width: 140px;

  @media (min-width: $mobile) {
    width: 120px;
  }

  @media (min-width: $tablet) {
    width: 48%;
  }

  &:first-child {
    float: left;
  }

  &:last-child {
    float: right;
  }

  > .avatar {
    position: relative;

    display: inline-block;
    margin-bottom: 8px;
    height: 73px;
    width: 73px;

    @media (min-width: $tablet) {
      margin-bottom: 11px;
      height: 112px;
      width: 112px;
    }

    > img {
      width: 100%;
    }
  }

  &.active {
    color: $activeColor;

    > .avatar {
      border: 2px solid $activeColor;
      border-radius: 100%;
    }
  }

  > h3, h4 {
    font-size: 14px;
    white-space: nowrap;
  }

  > h3 {
    margin-bottom: 2px;
    font-weight: 800;

    @media (min-width: $tablet) {
      margin-bottom: 5px;
    }
  }

  > h4 {
    font-weight: 500;
  }
}
