.main-wrapper {
  width: 100%;
  padding: 0 $mobilePadding;

  @media (min-width: $tablet) {
    padding: 0;
    width: calc(100% - 250px);
    max-width: 1160px;
  }
}

.title {
  position: absolute;
  left: $mobilePadding;
  top: 20px;
  color: white;
  font-size: 16px;
  z-index: 1;

  font-family: $secondaryFont;

  @media (min-width: $mobile) {
    top: 24px;
    font-size: 30px;
  }

  @media (min-width: $tablet) {
    left: calc(250px/2);
  }

  @media (min-width: $wrapperWidth) {
    left: calc(50% - 1160px/2);
  }

  a {
    display: block;
    width: 100px;

    color: inherit;
    font-weight: 900;
    letter-spacing: 0.02em;
    line-height: 1.1;
    text-decoration: none;

    @media (min-width: $tablet) {
      width: 200px;
    }
  }
}

.sponsor-tochka {
  position: absolute;
  top: 24px;
  right: $mobilePadding;
  z-index: 1;

  @media (min-width: $mobile) {
    top: 30px;
  }

  @media (min-width: $tablet) {
    right: calc(250px/2);
  }

  @media (min-width: $wrapperWidth) {
    right: calc(50% - 1160px/2);
  }

  > img {
    width: 97px;

    @media (min-width: $mobile) {
      width: 132px;
    }
  }
}

.sponsor-otkritie {
  display: none;

  position: absolute;
  right: 47px;
  top: 0;
  z-index: 2;

  @media (min-width: $tablet) {
    display: block;
  }

  > img {
    width: 56px;
  }
}

.articles-wrapper .sponsor-otkritie {
  position: fixed;
}

.button {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-left: 7px;
  height: 36px;
  width: 175px;

  color: white;
  font-family: 'Geometria', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  text-decoration: none;

  @media (min-width: $mobile) {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    width: 230px;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 175px;
    height: 15px;
    left: 53%; transform: translateX(-50%);
    border: 2px solid white;

    @media (min-width: $mobile) {
      height: 19px;
      width: 230px;
    }
  }

  &:after {
    bottom: 0;
    border-top: none;
  }

  &:before {
    top: 0;
    border-bottom: none;
  }

  &.colored {
    background: url("../images/button.png") no-repeat;
    background-size: cover;

    height: 55px;
    line-height: 55px;
    width: 218px;

    @media (min-width: $mobile) {
      height: 71px;
      line-height: 71px;
      width: 284px;
    }

    &:after {
      bottom: 8px;

      @media (min-width: $mobile) {
        bottom: 10px;
      }
    }

    &:before {
      top: 8px;

      @media (min-width: $mobile) {
        top: 10px;
      }
    }
  }
}
